<%- include('../partials/header') %>

<link rel="stylesheet" href="css/profile.css">

<%- include('../partials/navbar') %>
<div class="profile my-5 py-5">
    <div class="container mb-5 pb-5">
        <div class="row text-center align-items-center justify-content-center">
            <div class="profile-left">
                <img src="<%= user.profile_pict %>" class="img-fluid profile-pict" alt="">
            </div>
            <div class="profile-right">
              <h5 class="fullname-profile"><%= user.first_name %> <%= user.last_name %></h5>
              <p class="email-profile"><%= user.email %></p>
              <% if(currentUser.id === user.id) {%>
                <p><a href="/profile/<%=user.id %>/edit" class='edit-profile-btn'>Edit Profile?</a></p>
               <%} else{%>
                <p><%= user.username %></p>
                <% } %>
            </div>
          </div>
          <hr>
          <div class="row justify-content-center align-items-center posts">
              <% if(post){ %>
                <% for(i= post.length-1; i>=0 ;i--){ %>
                  <div class="card">
                    <img src="<%=post[i].images%>" class="card-img-top img-user" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=post[i].name.slice(0,16)%>...</h5>
                      <p class="card-text"><small class="text-muted"><%=post[i].createdAt.toTimeString().slice(0,5)%>, <%=post[i].createdAt.toDateString()%></small></p>
                      <a href="/post/<%=post[i].id%>" class="btn btn-warning text-white">View</a>
                    </div>
                  </div>
                <% } %>
              <% } %>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/footer') %>