<%- include('../partials/header') %>

<link rel="stylesheet" href="css/profile.css">

<%- include('../partials/navbar') %>

<div class="profile my-5 py-5">
    <div class="container mb-5 pb-5">
        <div class="row text-center">
            <div class="col-12">
                <div class="profile-picture">
                  <img src="<%= user.profile_pict %>" class="img-fluid profile-pict" alt="">
                  <h3><%= user.first_name %> <%= user.last_name %></h3>
                  <% if(currentUser.id === user.id) {%>
                   <p><a href="/profile/<%=user.id %>/edit">Edit Profile?</a></p>
                  <%}%>
                </div>
                <div class="list-group">
                    <button type="button" class="btn-danger shadow-none list-group-item list-group-item-action active">
                      Profile
                    </button>
                    <button type="button" class="list-group-item list-group-item-action"><%= user.first_name %></button>
                    <button type="button" class="list-group-item list-group-item-action"><%= user.last_name %></button>
                    <button type="button" class="list-group-item list-group-item-action"><%= user.username %></button>
                    <button type="button" class="list-group-item list-group-item-action" disabled><%= user.email %></button>
                </div>
            </div>
            <div class="col-12 posts">
              <div class="display-4 my-3">Posts</div>
              <% if(post){ %>
                <% for(i= post.length-1; i>=0 ;i--){ %>
                  <div class="card">
                    <img src="<%=post[i].images%>" class="card-img-top img-user" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=post[i].name%></h5>
                      <p class="card-text"><small class="text-muted"><%=post[i].createdAt.toDateString()%></small></p>
                      <a href="/post/<%=post[i].id%>" class="btn btn-warning text-white">View</a>
                    </div>
                  </div>
                <% } %>
              <% } %>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/footer') %>