<%- include('../partials/header') %>

<%- include('../partials/navbar') %>

<div class="container body-show" id="body-show">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
          <div class="card card-show mb-5">
              <img src="<%=post.images%>" class="card-img-top img-post" alt="...">
              <div class="card-body">
                <p class="card-text"><%=post.name%></p>
                <p class="card-text"><small class="text-muted"><%=post.createdAt.toString().split('GMT')[0]%></small></p>
                <p class="card-text">
                  <a href="/profile/<%= post.User.id %>">
                  <small class="text-muted"><i><%= post.User.username %></i></small>
                  </a>
                </p>
                
                <% if(currentUser){ %>
                  <%  if(currentUser.id === post.user_id){ %>
                <a href="/post/<%=post.id%>/edit" class="btn btn-warning text-white d-inline mr-2">Edit</a>
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalCenter">
                  Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header bg-white">
                        <h5 class="modal-title" id="ModalCenterTitle">Are you sure want to delete this post?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer bg-light">
                        <form id="delete-form" class="d-inline" action="/post/<%= post.id %>?_method=DELETE" method="POST">
                          <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
                
                 <%}%>
                <%}%>
              </div>
            </div>

            <section id="comments" class="mb-5">
              <% if(currentUser){%>
              <h3 class="mb-4 text-secondary">Comments</h3>
              <% for(i=0;i < komentar.length;i++){ %>
                <div class="media mb-4">
                  <a href="/profile/<%= komentar[i].User.id %>">
                    <img src="<%= komentar[i].User.profile_pict %>" class="rounded-circle mr-3" style="width: 64px; height: 64px; object-fit: cover;" alt="...">
                  </a>
                  <div class="media-body">
                    <a href="/profile/<%= komentar[i].User.id %>">
                      <h5 class="mt-0"><%= komentar[i].User.username %></h5>
                    </a>
                    <% if(currentUser){ %>
                      <%  if(currentUser.id === komentar[i].user_id){ %>
                      <span class="float-right">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                          <form id="delete-form" action="/post/<%= post.id %>/comments/<%= komentar[i].id %>?_method=DELETE" method="POST">
                            <button class="dropdown-item" type="submit">Delete</button>
                          </form>
                        </div>
                      </span>
                      <%}%>
                  <%}%>
                   <p> <%= komentar[i].comment %></p>
                  </div>
                </div>
                <% } %>

               <!-- kalo ada user muncul formnya, kalau tidak hilang -->
               <% if(currentUser){ %>
                <!-- formnya -->
                <form action="/post/<%=post.id%>/comments" method="POST" class="mb-5 mt-5">
                  <div class="row align-content-center">
                    <div class="col-8">
                      <input type="text" name="comment" class="form-control" placeholder="add comment..." required>
                    </div>
                    <div class="col">
                      <button type="submit" class="btn btn-dark px-4 py-2">Send</button>
                    </div>
                    <div class="col"></div>
                  </div>
                </form>
              <% } %>
                <% } %>
            </section>
           
    </div>
  </div>
</div>



<%- include('../partials/footer') %>