<%- include('partials/header') %>

<%- include('partials/navbar') %>


<section class="items">
    <div class="container">
        <% if(post){ %>
          <% for(i=0; i < post.length;i++){ %>
            <div class="item card my-3">
              <div class="card-body card-head">
                <a href="profile/<%=post[i].User.id%>" class="user-info">
                  <img src="<%=post[i].User.profile_pict%>" class="rounded-circle avatar-post" alt="">
                  <h5 class="card-title username-post"><%=post[i].User.username%></h5>
                </a>
                <div class="dropdown">
                  <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="images/dot-menu.svg" alt="menu" class="menu-post">
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Report</a>
                    <% if(currentUser){ %>
                      <%  if(currentUser.id === post[i].User.id){ %>

                    <a class="dropdown-item" data-toggle="modal" data-target="#ModalCenter">Delete</a>

                      <% } %>
                    <% } %>
                  </div>
                </div>
              </div>
              <img src="<%=post[i].images%>" data-toggle="modal" data-target="#myModal<%=i%>" id="img" class="card-img-middle" alt="...">
                <div class="card-body">
                  <div class="card-foot">
                    <p class="card-text"><%=post[i].name %></p>
                    <p class="card-text"><%=post[i].id %></p>
                    <a href="/post/<%=post[i].id%>"><i class="fas fa-external-link-alt"></i></a>
                  </div>
                  <small class="card-text text-secondary"><%=post[i].createdAt.toTimeString().slice(0,5)%>, <%=post[i].createdAt.toDateString()%></small>
                </div>
            </div>
            <div id="myModal<%=i%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="<%=post[i].images%>" class="img-fluid">
                    </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-white">
                    <h5 class="modal-title" id="ModalCenterTitle">Are you sure want to delete this post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer bg-light">
                    <form id="delete-form" class="d-inline" action="/post/<%= post[i].id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
        <% } %>
        <% } %>
    </div>
</section>

<%- include('partials/footer') %>
