<%- include('partials/header') %>

<%- include('partials/navbar') %>

<section class="hero mt-5">
    <div class="jumbotron text-center" >
        <h1 class="display-4">Welcome to Votolink :)</h1>
        <hr width="50%" class="my-4 mx-auto">
        <blockquote class="blockquote lead">
          <p class="mb-0">"Why upload photos if you can copy from other links."</p>
          <footer class="blockquote-footer text-light">Leonardo Da Vinci <cite title="Source Title">~ 2020</cite></footer>
        </blockquote>
    </div>
</section>

<section class="items">
    <div class="container">
      <div class="row justify-content-between">
        <% if(post){ %>
          <% for(i=0; i < post.length;i++){ %>
            <div class="item">
              <img src="<%=post[i].images%>" data-toggle="modal" data-target="#myModal<%=i%>" id="img" class="img-fluid" alt="...">
                <div class="detil">
                  <a href="profile/<%=post[i].User.id%>">
                    <img src="<%=post[i].User.profile_pict%>" class="rounded-circle" alt="">
                    <p><%=post[i].User.username%></p>
                  </a>
                  <a href="/post/<%=post[i].id%>"><i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            <div id="myModal<%=i%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="<%=post[i].images%>" class="img-fluid">
                    </div>
                </div>
              </div>
            </div>
        <% } %>
        <% } %>
      </div>
    </div>
</section>

<%- include('partials/footer') %>
